@use "settings" as s;

.cardList {
  position: relative;
  max-width: 32rem;
  width: 100%;

  @include s.mq(sm) {
    max-width: 40rem;
  }
}
.card {
  position: absolute;
  background-color: #fff;
  border-radius: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // box-shadow: 0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.1);

  &:first-of-type {
    position: relative;
  }
}
.cardImage {
  width: 100%;
  background-color: rgba(s.$main-color, 0.5);
  border-radius: 2rem 2rem 0 0;
}
.content {
  padding: 4.2rem 1.6rem 3.2rem;

  @include s.mq(sm) {
    padding: 3.2rem;
  }
}
.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: s.$text-color;
  letter-spacing: 0.12em;
  margin-bottom: 1.6rem;

  @include s.mq(sm) {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
}
.text {
  font-size: 1.6rem;
  color: s.$text-color;
  line-height: 1.75;
}