@use "settings" as s;

.inner {
  padding: 4rem 2rem;
}
.title {
  font-size: 5.4rem;
  color: s.$text-color;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 2.8rem;
  
  @include s.mq(sm) {
    font-size: 7.2rem;
  }

  @include s.mq(md) {
    font-size: 10.4rem;
    font-weight: 400;
  }
}
.list {
  width: 100%;
  border: 0.1rem solid s.$main-color;
  border-top: 0.8rem solid s.$main-color;
  border-bottom: 0.8rem solid s.$main-color;
}
.item:not(:last-of-type) {
  border-bottom: 0.1rem dashed s.$main-color;
}
.link {
  display: block;
  padding: 4rem 2.4rem;

  @include s.mq(sm) {
    display: flex;
    align-items: flex-start;
    gap: 3.2rem;
  }
  @include s.mq(md) {
    align-items: center;
  }
}
.img {
  width: 100%;
  margin-bottom: 2rem;

  @include s.mq(sm) {
    max-width: 30%;
  }
}
.workTitle {
  font-size: 1.6rem;
  color: s.$text-color;
  margin-bottom: 2.4rem;

  @include s.mq(md) {
    font-size: 2rem;
  }
}
.button {
  border-top: 0.1rem solid s.$main-color;
  border-bottom: 0.1rem solid s.$main-color;
  transition: background-color 0.3s ease;

  @include s.mq(sm) {
    width: 24rem;
  }
}
.buttonText {
  font-size: 1.4rem;
  color: s.$main-color;
  line-height: 1.7;
  text-align: center;
  transition: color 0.3s ease;

  @include s.mq(md) {
    font-size: 1.8rem;
  }
}
.arrow {
  display: inline-block;
  width: 0.5rem;
	height: 0.5rem;
	border: 0.5rem solid transparent;
	border-left: 0.5rem solid s.$main-color;
  margin-left: 0.8rem;
  transition: border-left 0.3s ease, transform 0.3s ease 0.2s;

  @include s.mq(md) {
    width: 0.6rem;
    height: 0.6rem;
    border: 0.6rem solid transparent;
    border-left: 0.6rem solid s.$main-color;
  }
}
@include s.hover {
  .link:hover {
    .button {
      background-color: s.$main-color;
    }
    .buttonText {
      color: #fff;
    }
    .arrow {
      border-left: 0.5rem solid #fff;
      transform: translateX(0.5rem);
    }
  }
}